file_input              -
depth_increment           5       

ref_rays_draw             0       
# ref_rays_depth            800      
# ref_rays_line_style       0       
# ref_rays_thickness        1       
# ref_rays_pen_color        -1      
# ref_rays_fill_color       -1      
# ref_rays_area_fill        -1      
ref_countour_draw         1       
ref_countour_depth        700      
ref_countour_line_style   0       
ref_countour_thickness    1       
ref_countour_pen_color    -1      
ref_countour_fill_color   -1      
ref_countour_area_fill    -1      
ref_points_draw           0       
ref_points_depth          700      
ref_points_line_style     0       
ref_points_thickness      1       
ref_points_pen_color      -1      
ref_points_fill_color     -1      
ref_points_area_fill      -1      
ref_points_radius         0.01    

sens_rays_draw            0       
sens_rays_depth           800      
# sens_rays_line_style      0       
# sens_rays_thickness       1       
# sens_rays_pen_color       -1      
# sens_rays_fill_color      -1      
# sens_rays_area_fill       -1      
sens_countour_draw        0       
sens_countour_depth       800      
# sens_countour_line_style  0       
# sens_countour_thickness   1       
# sens_countour_pen_color   -1      
# sens_countour_fill_color  -1      
# sens_countour_area_fill   -1      
sens_points_draw          0       
sens_points_depth         800      
sens_points_line_style    0       
sens_points_thickness     1       
sens_points_pen_color     -1      
sens_points_fill_color    -1      
sens_points_area_fill     0      
sens_points_radius        0.03   

corr_draw                 1       
corr_depth                800      
corr_line_style           0       
corr_thickness            1       
corr_pen_color            4      
corr_fill_color           -1      
corr_area_fill            -1      
