draw_what            0      
depth                900    
rays_draw            -1     
rays_depth           -1     
rays_line_style      0      
rays_thickness       1      
rays_pen_color       3     
rays_fill_color      -1     
rays_area_fill       -1     
countour_draw        -1     
countour_depth       -1     
countour_line_style  0      
countour_thickness   1      
countour_pen_color   -1     
countour_fill_color  -1     
countour_area_fill   -1     
