
file_jj out/jj.txt

use_point_to_line_distance 0
max_angular_correction_deg           5          
max_linear_correction           0.2          
max_iterations           30          
epsilon_xy           0.001          
epsilon_theta           0.001          
max_correspondence_dist           2          
sigma           0.01          
restart           1          
restart_threshold_mean_error   0.01
#   3.0 / 300.0          
restart_dt           0.1          
restart_dtheta           0.026
# 1.5 * 3.14 /180          

clustering_threshold           0.05          
orientation_neighbourhood           3          
use_corr_tricks           1          

do_alpha_test           0          
do_visibility_test           1          
do_compute_covariance           1          


outliers_maxPerc           1
outliers_adaptive_order          1
outliers_adaptive_mult          1         
