padding                  0.2       
dimension                500       
offset_theta_deg         0         
distance_xy              5         
distance_th_deg          45        
start_pose_width         0.01       
laser_rays_draw          1         
laser_rays_color         #f00      
laser_rays_width         0.0002    
laser_countour_draw      1         
laser_countour_color     black     
laser_countour_width     0.002      
laser_points_draw        0         
laser_points_color       #f00      
laser_points_width       0.002     
laser_points_radius      0.003     
laser_pose_draw          1         
laser_pose_color         #f73      
laser_pose_width         0.002     
laser_pose_radius        0.01      
laser_normals_draw       0         
laser_normals_color      black     
laser_normals_width      0.002     
laser_normals_length     0.1       
laser_connect_threshold  0.4       
laser_horizon            10        
path_draw                1         
path_color               #f00      
path_width               0.01       
